{% if request.user.is_authenticated %}
    <p>logged in as {{request.user}}</p>
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login'%}">login</a>
{% endif %}

<hr/>
<h1>Goal Listing</h1>

<div>
    <p><a href="{% url 'goal_create' %}"> New Goal</a> </p>

    <h1>Item</h1>
    <div>
        {% for goal in goals %}
            <p>{{goal.title}}
                <span><a href="{% url 'goal_detail' goal.id %}"> View</a> </span>
                <span><a href="{% url 'goal_update' goal.id %}"> Edit</a> </span>
                <span><a href="{% url 'goal_delete' goal.id %}"> Delete</a> </span>
            </p>
        {% empty %}
        <h3>No goals in listed</h3>
        {% endfor %}
    </div>
</div>